.title {
    margin-left: 10px;
    text-align: left !important;
}

.view {
    margin-left: 10px;
    color: rgb(167, 167, 167);
}

.description {
    margin-left: 10px;
    width : 70%;
    font-weight: 170;
}

.playerPage {
    padding-right: 10px;
    max-height: 490px;
    overflow-y: auto;
    margin-right: 0px;
}
/* width */
::-webkit-scrollbar {
    width: 6px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(199, 1, 1);
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #b30000; 
  }