.title {
    margin-left: 10px;
    text-align: left !important;
}

.view {
    margin-left: 10px;
    color: rgb(167, 167, 167);
}

.description {
    margin-left: 10px;
    width : 70%;
    font-weight: 170;
}

.videoPlayer {
    display: inline !important;
    position: absolute;
    left : 10%;
    top : 5%;
}

.backgroundImage {
    opacity: 0.2;
}

.likeChart {
    background-color: #ffffff !important;
}