
.navBar {
    margin: 0px !important;
    padding: 0px !important;
    background-color:none;
    color: rgb(241, 0, 0);
    font-size: 150%;
}

.logoArea {
    text-align: center;
    border-right: solid thin rgb(182, 182, 182);
    padding-right: 5%;
}



.searchBar {
    margin: 20px auto;
}

.logout {
    width: 100% !important;
    background-color: rgb(199, 1, 1);
    height: 50px;
    text-align: center;
    font-size: 1.5em;
    color: black; 
}