
.trends {
    margin : 20px;
}

.links:hover {
    text-decoration: none;

}

.spinners {
    margin : 10% 38%;

}

.duration {
    margin-top : -25px;
    text-align: right;
    margin-right: 5px;

}
.title {
    color: #fff !important;
    text-align: center;
    margin-top : 10px;
}

.cards {
    border-radius: 0px !important;
    margin : 10px;
    background-color: black !important;
    height: 300px;
}
.cards:hover {
    transition: all .1s ease-in-out;
    cursor: pointer;
    transform: scale(1.05);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.views {
    color: rgb(168, 168, 168);
    margin-left: 10px;
}
.channel {
    color: rgb(161, 161, 161);
    margin-left: 10px;
    font-size: 1rem;
}
.time {
    color: rgb(179, 179, 179);
    margin-left: 10px;
}